<style type="text/css">
.content .main p {
    color: black;
}

.section {
    margin: 35px 20px 0 20px;
}

.menu p {
    margin-top: 30px;
    font-size: 18px;
    color: black;
}

.section .menu h2 {
    margin-bottom: 23px;
}

</style>
